.dash{
    background-color: antiquewhite;
    margin: 5%;
    height: auto;
    width: auto;
    margin: 10% 30%;
    padding: 3%;
    text-align: center;
    height: auto;
    width: auto;
    margin: 10% 30%;
    padding: 3%;
    text-align: center;
    height: auto;
    width: auto;
    padding: 2% 10%;
    background-color: rgba(213, 255, 158, 0.686);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(78, 78, 78, 0.1);
    transition: all 0.3s ease;

    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 40px;
    }

    button {


        background-color: rgb(1, 56, 1);
        border-radius: 5px;
        color: white;
        height: 50px;
        width: 120px;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        border: none;
        margin: 10px;
        margin: 10px;
    }
}